.header {
    background-color: #243c5a;  
    height: 8vh;
    display: flex;
    align-items: center;
}

.title {
    color: #fff;
    font-size: 1.5rem;
    margin-left: 1rem;
}

.headerOptions {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 1rem;
}

.headerTxt {
    color: #fff;
    font-size: 1rem;
    margin-right: 1rem;
    cursor: pointer;
}