.root {
    background-color: white;
    min-height: 100vh;
    color: black;
}

.radiusBttn {
    width: 12vw;
    height: 5vh;
    color: black;
    background-color: orange;
}

.dividerView {
    display: flex;
    flex-direction: row;
}

.salaryDiv {
    background-color: #8ecdbc;
    padding: 1rem;
}

.salaryTxt {
    font-size: 0.7rem;
    font-weight: 450;
}